/* Write your code here. */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.btn {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  outline: none;
  margin: 5px;
  background-color: #ffffff33;
}
.img {
  height: 60px;
  width: 60px;
}
@media (max-width: 767px) {
  .btn {
    width: 80px;
    height: 80px;
  }
  .img {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 767px) and (max-width: 922px) {
  .btn {
    width: 120px;
    height: 120px;
  }
  .img {
    height: 50px;
    width: 50px;
  }
}
